.introSlide {
  height: 100%;
  position: relative;
}

.introCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.profilePicCont {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 3rem;
  z-index: 2;
}

.profilePicBorder {
  width: 155px;
  height: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 2;
  border: 2px solid #fff;
  box-shadow: inset 0 0 0 5px #1e59f5;
}

.profilePicImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.introTextCont {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0.5rem;
  z-index: 2;
}

.introText {
  flex: 0 0 auto;
  height: min-content;
  color: #ffffff;
}

.slidingWordCont {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.slidingWordTextCont {
  display: flex;
  justify-content: center;
  margin-left: 0.2rem;
  align-items: flex-start;
  width: min-content;
  text-align: center;
}

.staticWordsCont {
  display: flex;
  flex: 1 0 auto;
  width: min-content;
}

.staticText {
  height: min-content;
  color: #ffffff;
  white-space: nowrap;
}

.slidingWord {
  white-space: nowrap;
  color: #f0fa6a;
}
.dynamicWordCont {
  margin-left: 0.3rem;
  display: flex;
  flex-direction: column;
  width: 15rem;
  flex: 1 0 auto;
}

.headingText {
  font-size: 30px;
  font-weight: 600;
}

.svgIcon {
  color: white;
  margin: 0.5rem;
}
.externalLinksCont {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}
